<footer class="footer bg-light mt-auto py-3">
  <div class="container">
    <span class="text-muted">
      The information contained on this website is only to be used for flight
      simulation purposes on the VATSIM network. Whilst the information
      contained on this site is about real places and contains real world
      procedures, it is not intended nor should it be used for real world
      navigation. This website is not affiliated with Airservices Australia.
    </span>
    <hr />
    <span class="text-muted">
      © 1998 - 2019 VATPAC (VATSIM Australia Pacific)
    </span>
  </div>
</footer>
