<div
  id="landingSlide"
  class="carousel slide carousel-fade"
  data-ride="carousel"
>
  <div class="carousel-inner" style="height:100vh;">
    <div class="carousel-item active" style="height:100%;">
      <div
        style="background:url('/assets/img/carousel_1.png');background-repeat:no-repeat;background-position:center;background-size:cover;height:100%;width:100%;"
        class="d-block w-100"
        alt="..."
      ></div>
    </div>
    <div class="carousel-item" style="height:100%;">
      <div
        style="background:url('/assets/img/carousel_2.png');background-repeat:no-repeat;background-position:center;background-size:cover;height:100%;width:100%;"
        class="d-block w-100"
        alt="..."
      ></div>
    </div>
    <div class="carousel-item" style="height:100%;">
      <div
        style="background:url('/assets/img/carousel_3.png');background-repeat:no-repeat;background-position:center;background-size:cover;height:100%;width:100%;"
        class="d-block w-100"
        alt="..."
      ></div>
    </div>
    <div
      class="pattern"
      style="height:100%;width:100%;z-index:+1;position:absolute;background:url('/assets/img/pattern.png');background-repeat:repeat;"
    ></div>
    <div
      class="logo"
      style="height:100%;width:100%;z-index:+2;position:absolute;background:url('/assets/img/logo_white.png');background-repeat:no-repeat;background-position:center;"
    ></div>
  </div>
  <svg
    class="scrolldownicon"
    viewBox="0 0 100 100"
    preserveAspectRatio="xMidYMid"
    style="visibility: visible;"
  >
    <path d="M20 35 L50 65 L80 35"></path>
  </svg>
</div>
