<nav
  class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top"
  id="navbar"
>
  <a class="navbar-brand" href="#"></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarsExample04"
    aria-controls="navbarsExample04"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="dropdown04"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >About Us</a
        >
        <div class="dropdown-menu" aria-labelledby="dropdown04">
          <a class="dropdown-item" href="#">Item 1</a>
          <a class="dropdown-item" href="#">Item 2</a>
          <a class="dropdown-item" href="#">Item</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="dropdown04"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Community</a
        >
        <div class="dropdown-menu" aria-labelledby="dropdown04">
          <a class="dropdown-item" href="#">Item 1</a>
          <a class="dropdown-item" href="#">Item 2</a>
          <a class="dropdown-item" href="#">Item</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="dropdown04"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Pilots</a
        >
        <div class="dropdown-menu" aria-labelledby="dropdown04">
          <a class="dropdown-item" href="#">Item 1</a>
          <a class="dropdown-item" href="#">Item 2</a>
          <a class="dropdown-item" href="#">Item</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="dropdown04"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Controllers</a
        >
        <div class="dropdown-menu" aria-labelledby="dropdown04">
          <a class="dropdown-item" href="#">Item 1</a>
          <a class="dropdown-item" href="#">Item 2</a>
          <a class="dropdown-item" href="#">Item</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="dropdown04"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Operations</a
        >
        <div class="dropdown-menu" aria-labelledby="dropdown04">
          <a class="dropdown-item" href="#">Item 1</a>
          <a class="dropdown-item" href="#">Item 2</a>
          <a class="dropdown-item" href="#">Item</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="dropdown04"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Events</a
        >
        <div class="dropdown-menu" aria-labelledby="dropdown04">
          <a class="dropdown-item" href="#">Item 1</a>
          <a class="dropdown-item" href="#">Item 2</a>
          <a class="dropdown-item" href="#">Item</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">VATPAX</a>
      </li>
    </ul>
  </div>
</nav>
<div
  id="landingSlide"
  class="carousel slide carousel-fade"
  data-ride="carousel"
>
  <div class="carousel-inner" style="height:100vh;">
    <div class="carousel-item active" style="height:100%;">
      <div
        style="background:url('/assets/img/carousel_1.png');background-repeat:no-repeat;background-position:center;background-size:cover;height:100%;width:100%;"
        class="d-block w-100"
        alt="..."
      ></div>
    </div>
    <div class="carousel-item" style="height:100%;">
      <div
        style="background:url('/assets/img/carousel_2.png');background-repeat:no-repeat;background-position:center;background-size:cover;height:100%;width:100%;"
        class="d-block w-100"
        alt="..."
      ></div>
    </div>
    <div class="carousel-item" style="height:100%;">
      <div
        style="background:url('/assets/img/carousel_3.png');background-repeat:no-repeat;background-position:center;background-size:cover;height:100%;width:100%;"
        class="d-block w-100"
        alt="..."
      ></div>
    </div>
    <div
      class="pattern"
      style="height:100%;width:100%;z-index:+1;position:absolute;background:url('/assets/img/pattern.png');background-repeat:repeat;"
    ></div>
    <div
      class="logo"
      style="height:100%;width:100%;z-index:+2;position:absolute;background:url('/assets/img/logo_white.png');background-repeat:no-repeat;background-position:center;"
    ></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="card mx-3 my-3">
        <div class="card-header">
          Online Controllers
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-4">
                Position
              </div>
              <div class="col-8 text-right">
                <span class="text-white bg-info rounded-pill p-2">
                  Controller
                </span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-4">
                Position
              </div>
              <div class="col-8 text-right">
                <span class="text-white bg-info rounded-pill p-2">
                  Controller
                </span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-4">
                Position
              </div>
              <div class="col-8 text-right">
                <span class="text-white bg-info rounded-pill p-2">
                  Controller
                </span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="card mx-3 my-3">
        <div class="card-header">
          Current Activity
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-9">
                Melbourne
              </div>
              <div class="col-3 text-right">
                <span class="text-white bg-secondary rounded-pill p-2">
                  #
                </span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-9">
                Sydney
              </div>
              <div class="col-3 text-right">
                <span class="text-white bg-secondary rounded-pill p-2">
                  #
                </span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-9">
                Brisbane
              </div>
              <div class="col-3 text-right">
                <span class="text-white bg-secondary rounded-pill p-2">
                  #
                </span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-9">
                Perth
              </div>
              <div class="col-3 text-right">
                <span class="text-white bg-secondary rounded-pill p-2">
                  #
                </span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-9">
                Adelaide
              </div>
              <div class="col-3 text-right">
                <span class="text-white bg-secondary rounded-pill p-2">
                  #
                </span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-9">
                VATPAC Airspace
              </div>
              <div class="col-3 text-right">
                <span class="text-white bg-secondary rounded-pill p-2">
                  #
                </span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="card mx-3 my-3">
        <div class="card-header">
          Upcoming Events
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Event</li>
          <li class="list-group-item">Event</li>
          <li class="list-group-item">Event</li>
        </ul>
      </div>
      <div class="card mx-3 my-3">
        <div class="card-header">
          Helpful Links
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Link</li>
          <li class="list-group-item">Link</li>
          <li class="list-group-item">Link</li>
        </ul>
      </div>
      <div class="card mx-3 my-3">
        <div class="card-header">
          The Scope
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Email Address"
              />
              <small id="emailHelp" class="form-text text-muted"
                >We'll never share your email with anyone else.</small
              >
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="captcha" />
              <label class="form-check-label" for="captcha"
                >I Am Not A Robot</label
              >
            </div>
            <button type="submit" class="btn btn-primary">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card mx-3 my-3">
        <img
          src="https://departments.vatpac.org/events/banners/afv.png"
          class="card-img-top"
          alt="..."
        />
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="card mx-3 my-3">
            <div class="card-header">
              Announcements
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-danger">Announcement</li>
              <li class="list-group-item text-danger">Announcement</li>
              <li class="list-group-item text-danger">Announcement</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card mx-3 my-3">
            <div class="card-header">
              ATC Promotions
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="row">
                  <div class="col-5">
                    <span class="text-white bg-secondary rounded-pill p-2">
                      Rating
                    </span>
                  </div>
                  <div class="col-7 text-right">
                    Controller
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-4">
                    <span class="text-white bg-secondary rounded-pill p-2">
                      Rating
                    </span>
                  </div>
                  <div class="col-8 text-right">
                    Controller
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-4">
                    <span class="text-white bg-secondary rounded-pill p-2">
                      Rating
                    </span>
                  </div>
                  <div class="col-8 text-right">
                    Controller
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card mx-3 my-3">
        <div class="card-header">
          Welcome
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>
              Welcome to VATPAC, the home of VATSIM Australia Pacific. VATPAC
              coordinates simulated flying and manages air traffic control
              services in over 10% of the world's airspace, including all
              Australian airspace as well as various South Pacific regions and
              Oceanic sectors. VATSIM is a great place to practice your flying
              skills and enhance your experience whether you are a flight
              simulator enthusiast or a real-world pilot. VATSIM is a non-profit
              community of over 400,000 members from across the world who have a
              passion for all things aviation, and who strive to provide a
              realistic online flight-simulation network. We look forward to
              seeing you online soon!
            </p>
            <footer class="blockquote-footer">
              VATPAC Board of Directors
            </footer>
          </blockquote>
        </div>
      </div>
      <div class="card mx-3 my-3">
        <div class="card-header">
          NOTAMs
        </div>
        <div class="card text-center mx-2 my-2">
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">
              Content
            </p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
          <div class="card-footer text-muted">
            Expires in 2 days (DD/MM/YYY)
          </div>
        </div>
        <div class="card text-center mx-2 my-2">
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">
              Content
            </p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
          <div class="card-footer text-muted">
            In effect in 2 days (DD/MM/YYY)
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
