<app-navbar></app-navbar>
<app-landing></app-landing>
<div class="container">
  <app-jumbotron>
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">
      Welcome to VATPAC, the home of <b>VATSIM Australia Pacific</b>. VATPAC
      coordinates simulated flying and manages air traffic control services in
      <b>over 10% of the world's airspace</b>, including all Australian airspace
      as well as various South Pacific regions and Oceanic sectors. VATSIM is a
      great place to practice your flying skills and enhance your experience
      whether you are a flight simulator enthusiast or a real-world pilot.
      VATSIM is a non-profit community of <b>over 400,000 members</b> from
      across the world who have a passion for all things aviation, and who
      strive to provide a <b>realistic online flight-simulation network</b>. We
      look forward to seeing you online soon!
    </p>
    <footer class="blockquote-footer">
      VATPAC Board of Directors
    </footer>
  </app-jumbotron>
  <!-- <app-card>
    <img
      src="https://departments.vatpac.org/events/banners/afv.png"
      class="card-img-top"
      alt="..."
    />
  </app-card> -->
  <div class="row">
    <div class="col-lg-4">
      <app-card [header]="'Online Controllers'">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-4">
                Position
              </div>
              <div class="col-8 text-right">
                <span class="text-white bg-info rounded-pill p-2">
                  Controller
                </span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-4">
                Position
              </div>
              <div class="col-8 text-right">
                <span class="text-white bg-info rounded-pill p-2">
                  Controller
                </span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-4">
                Position
              </div>
              <div class="col-8 text-right">
                <span class="text-white bg-info rounded-pill p-2">
                  Controller
                </span>
              </div>
            </div>
          </li>
        </ul>
      </app-card>
      <app-card [header]="'Activity'">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-9">
                Melbourne
              </div>
              <div class="col-3 text-right">
                <span class="text-white bg-secondary rounded-pill p-2">
                  #
                </span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-9">
                Sydney
              </div>
              <div class="col-3 text-right">
                <span class="text-white bg-secondary rounded-pill p-2">
                  #
                </span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-9">
                Brisbane
              </div>
              <div class="col-3 text-right">
                <span class="text-white bg-secondary rounded-pill p-2">
                  #
                </span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-9">
                Perth
              </div>
              <div class="col-3 text-right">
                <span class="text-white bg-secondary rounded-pill p-2">
                  #
                </span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-9">
                Adelaide
              </div>
              <div class="col-3 text-right">
                <span class="text-white bg-secondary rounded-pill p-2">
                  #
                </span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-9">
                VATPAC Airspace
              </div>
              <div class="col-3 text-right">
                <span class="text-white bg-secondary rounded-pill p-2">
                  #
                </span>
              </div>
            </div>
          </li>
        </ul>
      </app-card>
      <app-card [header]="'Events'">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Event</li>
          <li class="list-group-item">Event</li>
          <li class="list-group-item">Event</li>
        </ul>
      </app-card>
      <app-card [header]="'Links'">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Link</li>
          <li class="list-group-item">Link</li>
          <li class="list-group-item">Link</li>
        </ul>
      </app-card>
      <app-card [header]="'The Scope'">
        <div class="card-body">
          <form>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Email Address"
              />
              <small id="emailHelp" class="form-text text-muted"
                >We'll never share your email with anyone else.</small
              >
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="captcha" />
              <label class="form-check-label" for="captcha"
                >I Am Not A Robot</label
              >
            </div>
            <button type="submit" class="btn btn-primary">Subscribe</button>
          </form>
        </div>
      </app-card>
    </div>
    <div class="col-lg-8">
      <div class="row">
        <div class="col-lg-6">
          <app-card [header]="'Announcements'">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-danger">Announcement</li>
              <li class="list-group-item">Announcement</li>
              <li class="list-group-item">Announcement</li>
            </ul>
          </app-card>
        </div>
        <div class="col-lg-6">
          <app-card [header]="'ATC Promotions'">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="row">
                  <div class="col-5">
                    <span class="text-white bg-secondary rounded-pill p-2">
                      Rating
                    </span>
                  </div>
                  <div class="col-7 text-right">
                    Controller
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-4">
                    <span class="text-white bg-secondary rounded-pill p-2">
                      Rating
                    </span>
                  </div>
                  <div class="col-8 text-right">
                    Controller
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-4">
                    <span class="text-white bg-secondary rounded-pill p-2">
                      Rating
                    </span>
                  </div>
                  <div class="col-8 text-right">
                    Controller
                  </div>
                </div>
              </li>
            </ul>
          </app-card>
        </div>
      </div>
      <app-card [header]="'NOTAMs'">
        <app-notam
          [title]="'Title'"
          [startDate]="'2019-12-25'"
          [endDate]="'2019-12-31'"
        >
          Content
        </app-notam>
      </app-card>
    </div>
  </div>
</div>
<app-footer></app-footer>
