.navbar.fixed-top {
  transition: 0.2s;
  -webkit-transition: 0.2s;
}
.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}
:focus {
  outline: none !important;
}
.scrolldownicon {
  bottom: 0;
  left: calc(50% - 25px);
  position: absolute;
  width: 50px;
  z-index: +1;
  fill: transparent;
  stroke: #fff;
  stroke-width: 3;
}
